@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-mono: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: var(--font-sans);
}
